.img-full-fit {
    @extend %absolute;
    @include img-obj(cover, center, center);
}

.orange {
    color: $primary;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.btn-section {
    margin-top: 60px;

    @media (min-width: map_get($grid-breakpoints, xl)) {
        margin-top: 115px;
    }
}

// decore section

@media (min-width: map_get($grid-breakpoints, xl)) {
    .decore-section {
        z-index: 1;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            height: 40vw;
            width: 100vw;
            background-color: #fafaf9;
            right: -36%;
            top: 50%;
            transform: rotate(-57deg) translateY(-50%);
            z-index: -1;
        }

        &--left {
            &:before {
                right: auto;
                left: -36%;
                transform: rotate(57deg) translateY(-50%);
            }
        }
    }
}

// intro section

section.intro-section {
    height: 500px;
    display: flex;
    align-items: center;

    &:before {
        content: "";
        @extend %absolute;
        background-color: rgba(#0f151f, 0.9);
        z-index: 2;
    }

    &--home {
        height: 600px;
        &:before {
            display: none;
        }
    }

    .intro-bg {
        z-index: 1;
    }

    .container {
        z-index: 3;
    }
}

.breadcrumbs {
    @extend .container;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;

    &__item {
        color: #fff;
        font-size: 10px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: $headings-font-family;

        &--current {
            color: $body-color;
        }
    }

    span {
        color: $body-color;
        text-transform: uppercase;
        margin: 0 5px;
    }
}

.intro {
    position: relative;
    z-index: 3;

    &__label {
        display: inline-flex;
        font-size: 14px;
        font-weight: 600;
        background-color: rgba(#fff, 0.1);
        color: #fff;
        text-transform: uppercase;
        padding: 3px 7px;
        margin-bottom: 20px;
    }

    &__title {
        color: #fff;
    }

    &__text {
        color: #fff;
        margin-top: 15px;
    }
}

.intro-description {
    padding-left: 40px;
    border-left: 3px solid $primary;

    p {
        color: #fff; 
        margin-bottom: 30px;
    }
}

// section header

.section-header {
    text-align: center;
    margin-bottom: 50px;

    &__label {
        display: inline-flex;
        font-size: 14px;
        font-weight: 600;
        background-color: rgba(#333, 0.1);
        color: $headings-color;
        text-transform: uppercase;
        padding: 3px 7px;
        margin-bottom: 20px;
    }

    &__text {
        margin-top: 20px;
    }
}
